@use '../variables';

.tbody {
  background-color: variables.$snow;
}

.row {
  background-color: variables.$snow;
  transition: background-color 0.15s;

  &:hover {
    background-color: variables.$pearl;
  }

  &:not(:last-child) {
    border-bottom: 1px solid variables.$pearl;
  }
}

.avatar {
  text-align: center;
}

.winnings {
  padding-right: 1.5rem;
  text-align: right;
}

.country {
  align-items: center;
  display: flex;
  height: 100%;
}

.countryAvatar {
  margin-right: 0.5rem;
}

.actions {
  white-space: no-wrap;
}

.actions__baseButton {
  margin-left: 10px;
  cursor: pointer;
  background-color: variables.$moss;
  color: variables.$snow;
  border: 0;
  padding: 4px 5px;
  border-radius: 3px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.actions__saveButton {
  margin-left: 10px;
}

.actions__editButton {
  cursor: pointer;
  background-color: variables.$moss;
  color: variables.$snow;
}
